<nav>
  <div class="site-name">
    <a href="/"><h1>Blog Ravi</h1></a>
    <p>A Ravi site.</p>
  </div>
  <ul>
    <li><a href="/">Blogs</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/blogs/create">New Blog</a></li>
  </ul>
</nav>
